html {	font-family: sans-serif;
}

body { 	color: black;
       	text-align: left;
       	background-image: url(Images/image_de_fond.png);
	bgproperties: "fixed";
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 2%;
	margin-bottom: 2%;}

.liensReseaux {
	color: #076177;
   	text-decoration: none;
}

li{
	list-style: none;
}

p1{	font-size: 40px;
  	line-height: 2;
	color: black;
	text-align: center;}

p2{	text-align: left;}

#banniere {
height: 100%;
}

#colonneMenu{
background: black;
	vertical-align: top;}

#contenu {
	height: 5%;
  	padding : 40px;}

#colonneFooter{
background: #B7E7F3;}

img {	height : 170px;
	width: 100%;}

.logo {
	height : 20px;
	width: 20px;
}

#menu-vertical, #menu-vertical ul {
  padding:0;
  margin:0;
  list-style:none;
  width: 180px; /* seule ligne rajoutée */
}

#menu-vertical li {
  position: relative;
  background:#EFEFEF; /* juste pour cacher le texte de la page en-dessous */
}

#menu-vertical a {
  display:block;
  text-decoration: none;
  color: #000;
}

#menu-vertical ul {
  position: absolute;
  left:-999em;
}

#menu-vertical li:hover ul {
  top: 0;
  left: 180px;
    	background-color: black;
}