#slideshow {
    height: 98vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slideshow img {
    width: auto;
    height: 100vh;
    display: block;
    object-fit: cover;
}
