html {
	background: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-size: cover;
  background-attachment: fixed;
text-align: left;
}
.navbar{
  height: 70px;
  width: 100%;
  padding: 19px 30px;
  background-color: #1b4cd3;
  position: relative;
}
.navbar .nav-header{
  display: inline;
}
.navbar .nav-header .nav-logo{
  display: inline-block;
  margin-top: -7px;
}
.navbar .nav-links{
  display: inline;
  float: right;
  font-size: 18px;
}
 
.navbar .nav-links .loginBtn{
  display: inline-block;
  padding: 5px 15px;
  margin-left: 20px;
  font-size: 17px;
  color: rgb(9, 14, 90);
}
.navbar .nav-links a {
  padding: 10px 12px;
  text-decoration: none;
  font-weight: 550;
  color: white;
}
/* Hover effects */
.navbar .nav-links a:hover{
  background-color: rgba(0, 0, 0, 0.3);
}
 
/* responsive navbar toggle button */
.navbar #nav-check, .navbar .nav-btn{
  display: none;
}
 
@media (max-width:700px) {
  .navbar .nav-btn{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .navbar .nav-btn label {
    display: inline-block;
    width: 80px;
    height: 70px;
    padding: 25px;
  }
  .navbar .nav-btn label span {
    display: block;
    height: 10px;
    width: 25px;
    border-top: 3px solid #eee;
  }
  .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
    background-color: rgb(9, 14, 90);
    transition: all 0.5s ease;
  }
  .navbar .nav-links{
    position: absolute;
    display: block;
    text-align: left;
    width: 50%;
    background-color: rgb(9, 14, 90);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    right: 0px;
  }
  .navbar .nav-links a {
    display: block;
  }
 
  /* when nav toggle button not checked */
  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
 
  /* when nav toggle button is checked */
  .navbar #nav-check:checked ~ .nav-links {
    height: calc(100vh - 70px);
    overflow-y: auto;
  }
  .navbar .nav-links .loginBtn {
    padding: 10px 40px ;
    margin: 20px;
    font-size:  18px;
    font-weight: bold;
    color: red;
  }
  /* Responsive dropdown code */
  .navbar .nav-links .dropdown, .navbar .nav-links .dropdown2 {
    float: none;
    width: 100%;
  }
  .navbar .nav-links .drop-content, .navbar .nav-links .drop-content2 {
    position: relative;
    background-color: red;
    top: 0px;
    left: 0px;
  }
  /* Text color */
  .navbar .nav-links .drop-content a {
    color: rgb(9, 14, 90);
  }  
 
}
 
/* Dropdown menu CSS code */
.dropdown{
  position: relative;
  display: inline-block;
}
.drop-content, .drop-content2 {
  display: none;
  position: absolute;
  background-color: #1b4cd3;
  min-width: 120px;
  font-size: 16px;
  top: 34px;
  z-index: 1;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}
/* on hover show dropdown */
.dropdown:hover .drop-content, .dropdown2:hover .drop-content2 {
  display: block;
}
/* drondown links */
.drop-content a {
  padding: 12px 10px;
  border-bottom: 1px solid rgb(197, 197, 250);
  display: block;
  transition: all 0.5s ease !important;
}
.dropBtn .drop-content a:hover {
  background-color: rgb(230, 230, 230);
}
.dropdown:hover .dropBtn, .dropdown2:hover .dropBtn2 {
  background-color: rgba(0, 0, 0, 0.3);
}
.dropdown2 .drop-content2 {
  position: absolute;
  left: 120px;
  top: 126px;
}
.dropBtn2 i {
  margin-left: 15px;
}
.divCorps{
margin-left: 10%;
margin-right: 10%;
margin-top: 5%;
margin-bottom: 5%;
}

h1 {
text-align: center;
margin-top: 10px;
text-decoration: underline;
font-weight: normal;
font-size: 48px;
}

p {
text-align: left;
font-size: 18px;
}

#front, #back {
  min-width:100%;
  max-width:900px;
  text-align: center;
}
#activeCardButtons {
  min-width: 100%;
  max-width: 900px;
  margin-left:auto;
  margin-right:auto;
  
}
#prev {
  position:absolute;
  width: 150px;
  left:50%;
  margin-left:-25px;
}
#flip {
  position:absolute;
  width: 150px;
  left:50%;
  margin-left:-25px;
}
#next {
  position:absolute;
  width: 150px;
  left:50%;
  margin-left:-25px;
}
#submit {
  position:relative;
  width:180px;
  margin-left:;
  margin-top:10px;
  margin-bottom:10px;
  display:block;
}
#cardForm {
  position:absolute;
  width: 100%;
  margin-left:50%;
  margin-top:10px;
}
#front, #back{
  display:block;
}

/* #front:hover:before{
  position:relative;
  float:left;
  font-size:24px;
  content:'Question/Term:';
  z-index:-1;
  margin-right:-100%;
  margin-top: -6px;
  color:grey;
}
#back:hover:before{ 
  position:relative;
  float:left;
  font-size:24px;
  content:'Answer/Definition:';
  z-index:-1;
  margin-right:-100%;
  margin-top:-8px;
  color:grey;
} */

#clearDeck{
  position:relative;
  width:360px;
  margin-left:-90px;
  display: block;
}
#clearDeck:hover{
  color:red;
  border: 3px solid red;
  
}
#formContainer{
  display:block;
  position:relative;
  margin-left:-90px;
  width:100%;
}
#newTerm{
  position:relative;
  width:180px;
  margin-top:10px;
  display:block;
}
#newDef{
  position:relative;
  width:180px;
  margin-top:10px;
  
}
hr {
  margin-left:-8px;
}
a.activator {
cursor:pointer;
  position: absolute;
  bottom:10px;
}
#importExport {
    font-size:10pt;
    position:relative;
    bottom:200px;
    left:-600px;
    width: 500px;
	height:180px;
    background-color:#fff;
    color:#7F7F7F;
    padding:0px;
	
    border:0px solid #ccc;

    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
	border-radius: 20px;
	    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    z-index:101;
  
}
#import {
	float:left;
	width: 50%;
/* 		height: 100%; */
/* 	position:fixed; */
	height:100%;
	left:0px;
	background-color: lightgreen;
		border-bottom-left-radius: 20px;
			border-top-left-radius: 20px;

}
#export {
/* 	clear:right; */
	float:right;
	width:50%;
/* 	position:fixed; */
	height:100%;
	right: 0px;

	background-color: seagreen;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
		
}
@keyframes slideright {
  0%{
    
  }
  100%{
    
  }

}
@keyframes slideleft {
  0%{
    
  }
  100%{
    
  }
}
a.close {
				position:relative;
/* 	display: inline; */
            float:right;
            width:26px;
            height:26px;
            background:transparent url(https://microwavemansion.com/images/cancel.png) repeat top left;
            margin-top:-26px;
            margin-right:-26px;
            cursor:pointer;
}
.overlay{
    background:transparent url(https://microwavemansion.com/images/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}
#deckSubmit {
	border-bottom-left-radius: 20px;
	width:50%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height:50px
/* 	height:100%; */
}
#deckSubmit:hover {
	border:2px solid green;
}
#saveDeck {
	border-bottom-right-radius: 20px;
	width:50%;
	position:absolute;
	bottom: 0px;
			height:50px;


	
}
#saveDeck:hover {
	border: 2px solid limegreen;
}
#uploadDeck {
	padding-left:5px;
}
.lightText {
	color: gray;
	position: fixed;
	bottom: 12px;
	right: 5px;
	font-size: 12px;
	line-height: 18px;
	text-align: right;
}
.upDown:hover {
	
}
.showHideHotkeysButton {
	display:visible;
	position: fixed;
	bottom: 12px;
	right: 5px;
}
.hide {
	display:none;
}

a {
   color: black;
   text-decoration: none;
}