:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --accent-color: #007BFF;
    --background-color: #F2F2F2;
    --font-family: 'Avenir', sans-serif;
    --menu-background: #fff;
    --menu-border: #ddd;
}

[data-theme="dark"] {
    --primary-color: #ddd;
    --secondary-color: #333;
    --accent-color: #4E8EF7;
    --background-color: #222;
    --menu-background: #444;
    --menu-border: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

header img {
    width: 60px;
    height: 60px;
}

header p {
    font-weight: bold;
    font-size: x-large;
    margin-left: 20px;
}

#darkModeToggle {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s;
}

#buttonAccount {
    cursor: pointer;
}

h2 {
    background-color: var(--menu-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--menu-border);
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}

.container {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.container h1 {
    margin-bottom: 20px;
}

.container h4 {
    margin: 40px auto 10px auto;
}

.container p {
    line-height: 1.6;
}

.container a {
    color: var(--accent-color);
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

footer .box {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

footer .box h3 {
    margin-bottom: 20px;
}

footer .box ul {
    list-style: none;
}

footer .box ul li {
    margin: 10px 0;
}

footer .box ul a {
    color: var(--accent-color);
    text-decoration: none;
}

footer .box ul a:hover {
    text-decoration: underline;
}

footer .box svg {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    transition: fill 0.3s;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form-section {
    width: 48%;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 15px;
}

.form-section h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section form input,
.form-section form select,
.form-section form button {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-card {
    width: 45%;
    margin: 10px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.category-card h3 {
    text-align: center;
    margin-bottom: 20px;
}

.category-card .drinks-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sirop-drinks {
    width: 92%;
    margin: 10px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#sirop-drinks h3 {
    text-align: center;
    margin-bottom: 20px;
}

#sirop-drinks .drinks-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.drink-item {
    width: 45%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#bilanCarbon {
    font-weight: bold;
    font-size: x-large;
    color: green;
    margin-left: 20px;
}

[data-theme="dark"] svg {
    fill: white;
}

#divConso {
    width: 33.3%;
}

#divR2 {
    width: 33.3%;
}

#divTendance {
    width: 33.3%;
}

.nav-quick {
    background: var(--secondary-color);
    border-radius: 0 6px 6px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .16);
    left: 0;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 70px;
    z-index: 1
}

.nav-quick ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column
}

.nav-quick li {
    margin: 15px 0;
    cursor: pointer;
}

.nav-quick li:first-child {
    -ms-flex-order: 1;
    order: 1
}

.nav-quick li:first-child a:not(.btn):focus:after,
.nav-quick li:first-child a:not(.btn):hover:after,
.nav-quick li:first-child a[aria-current=true]:after {
    background: #69d1f0
}

.nav-quick li:nth-child(2) {
    -ms-flex-order: 2;
    order: 2
}

.nav-quick li:nth-child(2) a:not(.btn):focus:after,
.nav-quick li:nth-child(2) a:not(.btn):hover:after,
.nav-quick li:nth-child(2) a[aria-current=true]:after {
    background: #f2bd5c
}

.nav-quick li:nth-child(3) {
    -ms-flex-order: 4;
    order: 4
}

.nav-quick li:nth-child(3) a:not(.btn):focus:after,
.nav-quick li:nth-child(3) a:not(.btn):hover:after,
.nav-quick li:nth-child(3) a[aria-current=true]:after {
    background: #ca90ac
}

.nav-quick li:nth-child(4) {
    -ms-flex-order: 5;
    order: 5
}

.nav-quick li:nth-child(4) a:not(.btn):focus:after,
.nav-quick li:nth-child(4) a:not(.btn):hover:after,
.nav-quick li:nth-child(4) a[aria-current=true]:after {
    background: #73c690
}

.nav-quick li:nth-child(5) {
    -ms-flex-order: 5;
    order: 5
}

.nav-quick li:nth-child(5) a:not(.btn):focus:after,
.nav-quick li:nth-child(5) a:not(.btn):hover:after,
.nav-quick li:nth-child(5) a[aria-current=true]:after {
    background: #9c73c6
}

.nav-quick li:nth-child(6) {
    -ms-flex-order: 3;
    order: 3
}

.nav-quick a:not(.btn) {
    -ms-flex-pack: center;
    -ms-flex-line-pack: center;
    align-content: center;
    color: var(--primary-color);
    display: grid;
    font-family: Bariol;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    line-height: 18px;
    position: relative;
    text-align: center;
    text-decoration: none
}

.nav-quick a:not(.btn):focus-visible,
.nav-quick a:not(.btn):hover {
    color: var(--primary-color)
}

.nav-quick a:not(.btn):focus,
.nav-quick a:not(.btn):hover {
    text-decoration: none
}

.nav-quick a:not(.btn) svg {
    margin: 0 auto 4px;
    opacity: .6;
    width: 30px
}

.nav-quick a:not(.btn) span {
    display: block
}

.nav-quick a:not(.btn):after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    transition: background .4s ease;
    width: 6px
}

.nav-quick a:not(.btn):focus,
.nav-quick a:not(.btn):hover {
    color: var(--primary-color)
}

.nav-quick a:not(.btn):focus svg,
.nav-quick a:not(.btn):hover svg {
    opacity: 1
}

.nav-quick .btn {
    -ms-flex-pack: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background: #1851a8;
    border-radius: 50%;
    color: #fff;
    display: grid;
    justify-content: center;
    margin-left: 10px;
    padding: 0
}

.nav-quick .btn:focus,
.nav-quick .btn:hover {
    background: #14458f
}

.nav-quick .btn .material-symbols-outlined {
    font-size: 26px;
    height: 68px;
    line-height: 68px;
    margin-left: 0;
    padding: 0;
    width: 68px
}

.nav-quick .btn .material-close {
    display: none
}

.nav-quick .btn.active .material-close {
    display: grid
}

.nav-quick .btn.active .material-open {
    display: none
}

.list-unstyled {
    list-style: none;
    padding-left: 0
}

@media (max-width: 600px) {
    #titreTopBar {
        display: none;
    }

    #infosPlein {
        flex-direction: column;
        align-items: center;
    }

    #divConso {
        width: 100%;
    }

    #divR2 {
        width: 100%;
    }

    #divTendance {
        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .box {
        width: 80%;
        margin-bottom: 20px;
    }

    .form-container {
        flex-direction: column;
        align-items: center;
    }

    .form-section {
        width: 90%;
        margin-bottom: 20px;
    }

    .category-card {
        width: 90%;
        margin: 10px;
        padding: 20px;
        border: 2px solid #000;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .drink-item {
        width: 90%;
    }

    footer .box {
        width: 100%;
    }

    .nav-quick .btn {
        margin-left: 0;
        margin-top: -10px
    }

    .nav-quick a:not(.btn):after {
        bottom: 0;
        height: 6px;
        left: 0;
        right: 0;
        top: auto;
        width: auto
    }

    .nav-quick a:not(.btn) {
        height: 70px
    }


    .nav-quick {
        border-radius: 6px 6px 0 0;
        bottom: 0;
        height: 70px;
        left: 0;
        right: 0;
        top: auto;
        -webkit-transform: none;
        transform: none;
        width: auto;
        z-index: 888;
        overflow-x: auto;
        white-space: nowrap;
        display: block;
    }

    .nav-quick ul {
        -ms-flex-pack: distribute;
        -ms-flex-flow: row;
        flex-flow: row;
        justify-content: space-around;
        display: inline-flex;
    }

    .nav-quick li {
        margin: 0 15px;
        cursor: pointer;
        display: inline-block;
    }

    #graphique {
        margin: 0;
        padding: 0;
    }
}