h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

input {
    width: 70%;
}

img {
    width: 95%;
    max-width: 200px;
    max-height: 120px;
}

.a_visiter {
    text-decoration: none;
    color: blue;
}

.divLogInOut {
    display: flex;
    justify-content:end;
}

.carte {
    border: thick double black;
    border-radius: 10% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-bottom: 20px;
}

/* Media query pour les petits écrans (par exemple, mobiles) */
@media screen and (max-width: 760px) {
    .carte {
        width: 100%; /* Une carte par ligne */
    }
}

/* Media query pour les écrans de taille moyenne et grande */
@media screen and (min-width: 761px) {
    #conteneurCartesAll {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .carte {
        width: 45%; /* Deux cartes par ligne */
    }
}

.conteneurTexteDansCarte {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    height: 100%; 
    padding-bottom: 10px;
    width: 90%;
}

.modal-content {
    text-align: center;
}

.hidden {
    display: none;
}

.texteDansCarte {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

#pageCed {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    border-radius: 20% 10%;
}

#logInButton {
    background: none;
    margin: 20px 5px 20px 0;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

#logOutButton {
    background: none;
    margin: 20px 5px 20px 0;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

#conteneurCartesAll {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#footer {
    margin: 30px 0 0 0;
    background-color: #cccccc;
}

.imageReseau {
    text-decoration: none; 
    color: black; 
    width: 50px; 
    height: 50px; 
    border: 0; 
    cursor: pointer;
}

#conteneurImagesReseaux {
    display: flex;
    justify-content: space-around;
}
