h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

input {
    width: 70%;
}

img {
    width: 95%;
    max-width: 200px;
    max-height: 120px;
}

.a_visiter {
    text-decoration: none;
    color: blue;
}

.divLogInOut {
    display: flex;
    justify-content:end;
}

.carte {
    border: thick double black;
    border-radius: 10% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-bottom: 20px;
}

/* Media query pour les petits écrans (par exemple, mobiles) */
@media screen and (max-width: 760px) {
    .carte {
        width: 100%; /* Une carte par ligne */
    }
}

/* Media query pour les écrans de taille moyenne et grande */
@media screen and (min-width: 761px) {
    #conteneurCartesAll {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .carte {
        width: 45%; /* Deux cartes par ligne */
    }
}

.conteneurTexteDansCarte {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    height: 100%; 
    padding-bottom: 10px;
    width: 90%;
}

.imageReseau {
    text-decoration: none; 
    color: black; 
    width: 50px; 
    height: 50px; 
    border: 0; 
    cursor: pointer;
}

.modal-content {
    text-align: center;
}

.hidden {
    display: none;
}

.texteDansCarte {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

#pageCed {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    border-radius: 20% 10%;
}

#logInButton {
    background: none;
    margin: 20px 5px 20px 0;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

#logOutButton {
    background: none;
    margin: 20px 5px 20px 0;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

#conteneurCartesAll {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#footer {
    margin: 30px 0 0 0;
    background-color: #cccccc;
}

#conteneurImagesReseaux {
    display: flex;
    justify-content: space-around;
}

/* ///////////////////////////////////////////////////////////////////////////// */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

svg {
    transform: scale(.7);
    z-index: 2;
    pointer-events: none;
}

#day, #night {
    width: 240px;
    height: 110px;
    background: white;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    border-radius: 100px;
    background: #9cd6ef;
    border: 6px solid #65c0e7;
}

#night {
    pointer-events: none;
}

#background {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #d3edf8;
    z-index: -1;
}

@media (max-width: 720px) {
    #day, #night {
        width: 320px;
        height: 150px;
    }
    svg {
        transform: scale(.95);
    }
}