h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

input {
    width: 70%;
}

path {
    fill: white;    
}

.divLogInOut {
    display: flex;
    justify-content:end;
}

.modal-content {
    text-align: center;
}

.elementMenuHorizontal {
    display: inline-block; 
    text-decoration: none; 
    text-align: center; 
    padding: 12px; 
    font-size: 20px; 
    cursor: pointer;
}

.partieCarte {
    border: 1px solid black; 
    width: 70%; 
    margin: auto; 
    margin-top: 50px; 
    display: none; 
    padding-bottom: 30px;
}

.contenuPartieCarte {
    margin-left: 10%;
}

.lienApplication {
    text-decoration: none; 
    color: white; 
    width: 50px; 
    height: 50px; 
    border: 0; 
    cursor: pointer;
}

.conteneurLangage {
    border: 1px solid black; 
    width: 95%; 
    margin: auto; 
    margin-top: 50px; 
    display: none;
}

.contenuLangage {
    margin-left: 2.5%; 
    margin-right: 2.5%; 
    overflow: auto; 
    white-space: nowrap; 
    width: 95%;
}

#logInButton {
    background: none;
    margin: 20px 5px 20px 0;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

#logOutButton {
    background: none;
    margin: 20px 5px 20px 0;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

#conteneurPartiesCartesAll {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

#footer {
    margin: 30px 0 0 0; 
    background-color: black;
}

#titreFooter {
    color: white;
}

#divConteneurApplications {
    display: flex; 
    justify-content: space-around;
}

#menuHorizontal {
    background-color: #cccccc;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

#ajoutSuppressionCode {
    display: flex; 
    justify-content: space-around; 
    width: 100%; 
    margin-bottom: 5%;
}

#ajoutCode {
    display: none; 
    border: 1px solid black; 
    width: 100%; 
    text-align: center; 
    margin-bottom: 5%;
}

#supprimerCode {
    display: none; 
    border: 1px solid black; 
    width: 100%; 
    text-align: center; 
    margin-bottom: 5%;
}

#divPresentation {
    border: 1px solid black; 
    width: 95%; 
    margin: auto; 
    margin-top: 50px; 
    display: block;
}